language: php

sudo: false

php:
  - 7.0
  - 7.1
  - 7.2

env:
  - # default environment without variables
  - COMPOSER_DEPENDENCIES_OPTIONS="--prefer-lowest --prefer-stable"

matrix:
  fast_finish: true

before_install:
  - composer self-update

install:
  - composer update --no-interaction $COMPOSER_DEPENDENCIES_OPTIONS

script:
  - bin/phing ci-build

after_success:
  - wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar
  - php coveralls.phar --verbose --config build/coveralls.yml || true
